---
name: admin_recover_password
resource: Customization
resource_owner: anyone
redirect_to: /admin/login
flash_notice: If you provided a valid account, you will receive a password reset link and instructions via email.
configuration:
  properties:
    email:
      validation:
        presence: true
        email: true
callback_actions: |-
  {% query_graph 'generate_user_temporary_token', email: form.properties.email, result_name: 'g' %}
  {% if g.user %}
    {% execute_query 'update_password_token', id: g.user.id, token: g.user.temporary_token %}
  {% endif %}
---
  
{% form %}
  <div class="grid-container forgot-password-wrap">
    <div class="grid-x grid-padding-x">
      {% fields_for 'properties' %}
      <div class="large-12 cell">
        <label class="form-label">Email
          {% input 'email', form: 'properties' placeholder: 'Email Address'%}
        </label>
      </div>
      {% endfields_for %}
      
      <div class="large-12 cell submit-btn-wrap">
        <button type="submit" class="btn-recover-password ripple-effects margin-top-0">SUBMIT</button>
      </div>
    </div>
  </div>
{% endform %}
