---
name: reset_password
resource: User
resource_owner: anyone
redirect_to: /admin/login
flash_notice: Your password has been updated. You can now log in.
configuration:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
  password_confirmation:
    property_options:
      virtual: true
authorization_policies:
  - token_is_valid
---
{% form %}
  <div class="grid-container">
    <input name="token" value="{{ params.token }}" type="hidden">
    <input name="email" value="{{ form.email }}" type="hidden">
    
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label class="form-label">New Password
          {% input 'password', placeholder: 'Enter your new password' %}
        </label>
      </div>

      <div class="large-12 cell">
        <label class="form-label">Confirm Password
          {% input 'password_confirmation', placeholder: 'Re-enter your new password' %}
        </label>
      </div>
      
      <div class="large-12 cell submit-btn-wrap">
        <!-- {% submit 'Reset Password' class: 'ripple-effects' %} -->
        <button type="submit" class="ripple-effects margin-top-0">RESET PASSWORD</button>
      </div>
  </div>
{% endform %}