---
slug: admin/recover-password
layout_name: insites_admin/insites_session
---
{%- assign name = 'Insites Admin - Recover Password' -%}
{%- content_for 'pagetitle' -%}{{ name }}{%- endcontent_for -%}

<div class="grid-container forgot-password-wrap">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h2>Forgot your password?</h2>
      <p>Enter your email address below and we'll get you back on track</p>
    </div>
  </div>
</div>
{% render_form 'admin_recover_password', parent_resource_id: 'reset_password' %}
<div class="grid-container forgot-password-wrap">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell text-right">
      <a href="/admin/login" title="Back to Sign In">Back to Sign In</a>
    </div>
  </div>
</div>