@charset "utf-8";
/* CSS Document */

/*------------------------------------

Project name: Site Template
Year created: 2018
Version #: V1_MRA -- Version# + WD TLA

--------------------------------------*/

/*-------- Used for All Pages ---------*/

/*----- for all -----*/

.box {
    border: 1px solid #000;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.full .box {
    margin: 0;
}

.empty-space {
    height: 50px;
}

/*----- colors -----*/

.gray {
    background-color: #EEEEEE;
}

.yellow {
    background-color: #FFE793;
}

.green {
    background-color: #ABD0BC;
}

.blue {
    background-color: #42C0FE;
}

.pink {
    background-color: #FFB6C1;
}

/*----- borders -----*/

.border {
    border: 1px solid #0a0a0a;
}

.border-gray {
    border-color: #EEEEEE;
}

.border-yellow {
    border-color: #FFE793;
}

.border-green {
    border-color: #ABD0BC;
}

.border-blue {
    border-color: #42C0FE;
}

.border-pink {
    border-color: #FFB6C1;
}

/*----- fonts/content -----*/

.content-left {
    text-align: left;
}

/*----- header -----*/

/*----- footer -----*/

footer {
    background-color: #fefefe;
    padding: 70px 20px 40px 20px;
}

.footer-links h5 {
    color: #0a0a0a;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-links .menu>li>a {
    line-height: 1.5em;
    padding: 0.5rem 0rem;
}

.footer-links a {
    color: #707070;
    font-size: 1rem;
    transition: all 0.5s ease;
}

.footer-links a:hover {
    color: #0a0a0a;
    transition: all 0.5s ease;
}

.footer-links .more-categories {
    margin-top: 2rem;
}

/*gcm styles*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, label, select, input {
    font-family: 'Open Sans', sans-serif;
    color: #323D53;
}

a, i, em, .plugin-kits .brand img {
    transition: all 0.5s ease-in-out;
}

a {
    color: #1e86e3;
}

a, input[type="button"] {
    outline: none;
}

.pagination .disabled {
	padding: 0;
}

.callout.warning {
	background-color: #ecd259;
	color: #fff;
}

button {
    cursor: pointer;
}

table thead {
    background: #edf0f5;
    color: #323d53;
}

table tfoot td, table tfoot th, table thead td, table thead th {
    font-size: 14px;
    font-weight: 600;
}

table tbody td, table tbody th {
    font-size: 14px;
    color: #8c94a4;
    border-right: 1px solid #edf0f5;
}

table th {
    border-right: 1px solid #fff;
}

table th:last-child {
    border-right: 1px solid #edf0f5;
}

table tbody tr:nth-child(2n) {
    background-color: #f8f9fb;
}

.label {
    background: #f0f0f0;
    color: #333;
    font-size: 12px;
    padding: 8px 10px;
    line-height: 1.6;
}

.switch {
    display: inline-block;
}

.switch-paddle::after, input+.switch-paddle {
    border-radius: 20px;
}

input:checked~.switch-paddle {
    background: #1e87e3;
}

.bg-dashboard {
    background: #fafafa url(../images/dashboard-bg.png) no-repeat bottom right;
}

.bg-white {
    background-color: #fff;
}

.bg-green {
    background-color: #0d8936;
}

.bg-f6f7f9 {
    background-color: #f6f7f9;
}

.box {
    border: none;
    text-align: unset;
}

.border-cbcbcb {
    border: 1px solid #cbcbcb;
    border-radius: 5px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-50per {
    border-radius: 50%;
}

.color-323d53 {
    color: #323d53;
}

.color-white {
    color: #fff;
}

.color-8c94a4 {
    color: #8c94a4;
}

.color-bec6d3 {
    color: #bec6d3;
}

.color-8c94a4 {
    color: #8c94a4;
    ;
}

.no-padding {
    padding: 0;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.padding-3 {
    padding: 3rem;
}

.padding-top-1 {
    padding-top: 1rem;
}

.padding-top-2 {
    padding-top: 2rem;
}

.padding-top-3 {
    padding-top: 3rem;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.padding-bottom-2 {
    padding-bottom: 2rem;
}

.padding-bottom-3 {
    padding-bottom: 3rem;
}

.padding-left-1 {
    padding-left: 1rem;
}

.padding-left-2 {
    padding-left: 2rem;
}

.padding-left-3 {
    padding-left: 3rem;
}

.padding-right-1 {
    padding-right: 1rem;
}

.padding-right-2 {
    padding-right: 2rem;
}

.padding-right-3 {
    padding-right: 3rem;
}

.no-margin {
    margin: 0;
}

.margin-6px {
    margin: 6px;
}

.margin-1 {
    margin: 1rem;
}

.margin-2 {
    margin: 2rem;
}

.margin-3 {
    margin: 3rem;
}

.margin-top-6px {
    margin-top: 6px;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.margin-bottom-6px {
    margin-bottom: 6px;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.margin-bottom-3 {
    margin-bottom: 3rem;
}

.margin-right-6px {
    margin-right: 6px;
}

.margin-right-1 {
    margin-right: 1rem;
}

.margin-right-2 {
    margin-right: 2rem;
}

.margin-right-3 {
    margin-right: 3rem;
}

.margin-left-6px {
    margin-left: 6px;
}

.margin-left-1 {
    margin-left: 1rem;
}

.margin-left-2 {
    margin-left: 2rem;
}

.margin-left-3 {
    margin-left: 3rem;
}

.weight-300 {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.full {
    max-width: 100%;
    width: 100%;
}

.font-size-36 {
    font-size: 36px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-12 {
    font-size: 12px;
}

.position-relative {
    position: relative;
}

.order-1 {
    order: 1;
}

.display-inline-block {
    display: inline-block;
}

.box-shadow {
    box-shadow: 0 8px 20px -3px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background: #323d53;
}

.grid-x>.sidebar {
    width: 300px;
}

.portal-title {
    background: #0d8936;
}

.portal-user {
    border-bottom: #3b465e solid 1px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.portal-user img {
    float: left;
    margin-right: 1.5rem;
    border-radius: 50%;
    width: 78px;
}

.portal-user .info {
    margin-top: 1rem;
}

.portal-user .email {
    font-size: 12px;
    color: #8c94a4;
}

.sidebar .menu {
    border-top: #283245 solid 1px;
}

.sidebar .menu ul {
    margin: 0;
}

.sidebar .menu li {
    list-style: none;
}

.sidebar .menu a i {
    margin-right: 1rem;
    color: #8e9dbc;
}

.sidebar .menu a {
    color: #8e9dbc;
    border-left: #323d53 3px solid;
    padding: 1.5rem;
}

.sidebar .menu a:hover {
    background: #242d3e;
    color: #fff;
    border-left: #0d8936 3px solid;
}

.sidebar .menu a:hover i {
    color: #fff;
}

.page-title .box {
    min-height: 92px;
    border-bottom: 1px solid #ccc;
}

.page-title h1 {
    font-size: 24px;
    line-height: 50px;
}

.login .left-panel {
    background: url(../images/gsa-login.jpg) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.filter-link {
    color: #1e86e3;
    font-size: 12px;
    font-weight: bold;
    line-height: 27px;
}

.cta, .cta:focus {
    background: #1e87e3;
    color: #fff;
    padding: 8px 20px;
    display: inline-block;
    line-height: 1.6;
}

.cta.secondary, .cta.secondary:focus {
    background: #e6e6e6;
    color: #323D53;
}

.cta:hover {
    background: #1d6eb4;
    color: #fff;
}

.login>.grid-x {
    height: 100vh;
}

.login-logo {
    margin-top: 42vh;
}

.login-form-wrap {
    margin-left: 8rem;
    margin-top: 20vh;
    margin-bottom: 8rem;
}

.login-form-wrap-inner {
    width: 25rem;
}

.main-content {
    margin-bottom: 13rem;
}

.coming-soon {
    margin-top: 8rem;
}

.line {
    background: url(../images/middle-line.jpg) center center repeat-x;
    display: block;
    width: 100%;
    float: left;
}

.mobile-header {
    background: #0d8936;
}

.mobile-header button, .mobile-header button:hover, .mobile-header button:focus {
    background: transparent;
    color: #fff;
    float: left;
}

.mobile-header button i {
    font-size: 20px;
    color: #fff;
    margin-top: 12px;
}

.edit-link i, .delete-link i {
    color: #8c94a4;
}

.company-details-link {
    color: #8c94a4;
}

.search-bar {
    background: url(../images/search-icon.png) no-repeat 96% 50%;
    padding-right: 40px;
}

.company-info label, #edit-company-modal label {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    color: #8c94a4;
}

#edit-company-modal .callout {
    border: none;
}

#edit-company-modal .callout .icon {
    width: 40px;
}

#edit-company-modal .callout .icon i {
    font-size: 38px;
}

.white-box {
    background: #fff;
    display: inline-block;
}

/* Filter options */

.filter-link i.fa-sort-down {
    vertical-align: top;
    margin-top: 6px;
    color: #1e86e3;
}

.filter-options.hide {
    display: none;
}

.filter-options {
    background-color: #fff;
    border: 1px solid #ddd;
    -ms-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    padding: 0;
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    -webkit-transition: all .35s;
    transition: all .35s;
    min-width: 300px;
    top: 35px;
}

.filter-options .options, .filter-options .buttons {
    padding: 1rem;
}

.filter-options label, .filter-options select {
    width: 50%;
    float: left;
    font-size: 14px;
}

.filter-options label {
    font-weight: 700;
    margin-top: 7px;
}

.filter-options .buttons {
    text-align: center;
}

.filter-options hr {
    margin: 0 auto;
}

/* Filter options end */

/* Pagination controls */

.pagination-controls {
    background: #e6e6e6;
    width: 100%;
    display: inline-block;
    min-height: 1rem;
    padding: 6px 10px;
    text-align: right;
    border: 1px solid #ccc;
}

.pagination-controls ul {
    margin-top: 2px;
}

.pagination-controls li {
    list-style: none;
    float: left;
    color: #323D53;
    margin: 0 2px;
}

.pagination-controls li a {
    color: #323D53;
    padding: 2px 4px;
    font-size: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.pagination-controls li a:hover, .pagination-controls li.active a {
    background: #fff;
    border: 1px solid #cacaca;
}

.pagination-controls .page-size-label {
    font-size: 12px;
    float: left;
    line-height: 26px;
    margin-right: .5rem;
}

.pagination-controls .page-size {
    font-size: 12px;
    width: 47px;
    line-height: 12px;
    height: 24px;
    margin-top: 2px;
    padding-right: 20px;
}

.pagination-controls p {
    font-size: 12px;
    display: inline-block;
    margin: 0 auto;
    margin-right: .5rem;
}

/* Pagination controls end */

/* Export controls */

.export-controls {
    position: relative;
}

.export-controls .export-button i {
    -webkit-transition: none;
    transition: all none;
}

.export-controls .export-button i.fa-sort-down {
    color: #fff;
    vertical-align: top;
    margin-top: -2px;
}

.export-controls .export-button i.fa-sort-up {
    vertical-align: top;
    margin-top: 0;
}

.export-options.hide {
    display: none
}

.export-options {
    background-color: #fff;
    border: 1px solid #ddd;
    -ms-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    padding: 0;
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    -webkit-transition: all .35s;
    transition: all .35s;
    min-width: 300px;
    top: 35px;
    right: 0;
}

.export-options .options, .export-options .buttons {
    padding: 1rem;
    text-align: left;
}

.export-options span {
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    display: inline-block;
    margin-bottom: 1rem;
}

.export-options label {
    line-height: 23px;
    vertical-align: text-bottom;
}

.export-options .item {
    margin-bottom: 6px;
}

.export-options hr {
    margin: 0 auto;
}

.export-options .buttons {
    text-align: center;
}

/* Export controls end */

/* Claim status graph */

.dashed-spacer {
    border-right: 1px dashed #8c94a4;
    width: 1px;
    height: 50%;
    margin: 0 auto;
}

.claim-status-graph .stats {
    padding: 1rem;
}

.claim-status-graph .chart {
    width: 70%;
    height: 100px;
}

.claim-status-graph h3 {
    font-size: 18px;
    color: #8c94a4;
    font-weight: 100;
}

.claim-status-graph h4 {
    font-size: 54px;
    color: #1e86e3;
    font-weight: 100;
    display: inline-block;
}

.claim-status-graph .stats span {
    float: right;
    color: #8c94a4;
    font-weight: 100;
    line-height: 80px;
}

.claim-status-graph .stats span i {
    color: #8c94a4;
}

/* Claim status graph end */

/* Admin Users styles */

.send-email {
    vertical-align: top;
    margin-top: 2px;
}

.send-email i {
    font-size: 24px;
    color: #cacaca;
}

.send-email.active i {
    color: #1e87e3;
}

.name-initials {
    border-radius: 50%;
    background: #edf0f5;
    width: 50px;
    display: inline-block;
    text-align: center;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.name-initials span {
    color: #8c94a4;
}

/* Admin Users styles end */

/* Height-base media queries */

@media (max-height: 600px) {
    .grid-y.grid-frame {
        height: auto;
    }
    .login>.grid-x {
        height: auto;
    }
}

/* Height-base media queries end */

/* Small only */

@media screen and (max-width: 39.9375em) {
    .mobile-menu .sidebar {
        display: block !important;
    }
    .mobile-menu .sidebar .grid-y {
        height: auto;
    }
    .login-form-wrap {
        margin: 0 auto;
        margin-top: 3rem;
    }
    .login>.grid-x {
        height: auto;
    }
}

/* Medium and up */

@media screen and (min-width: 40em) {}

/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .login .left-panel {
        background: #0d8936;
    }
    .login .left-panel, .login .left-panel>.grid-y {
        height: auto;
    }
    .login .left-panel .login-logo {
        margin-top: 3rem;
        margin-bottom: 3rem;
        height: auto;
    }
    .login-form-wrap {
        margin: 0 auto;
        margin-top: 3rem;
    }
}